.sidebarchat__chat{
    display:flex;
    align-items:center;
    background:white;
    cursor:pointer;
}
.sidebarchat__chat:hover{
    background-color: #3ea4fb;
    color:white;
}

.sidebarchat__info{
    margin-left:4px;
    padding:10px;
    position:sticky;
}
.sidebarchat__timestamp{
    position:absolute;
    left:150px;
    top:20px;
}