.sidebarchat__chat{
    display:flex;
    align-items:center;
    background:white;
    cursor:pointer;
    padding:10px;
}
.sidebarchat__chat:hover{
    background-color: #3ea4fb;
    color:white;
}

.sidebarchat__info{
    margin-left:10px;
    padding:10px;
    margin:10px;
    width:100%;
    position:sticky;
}
.sidebarchat__timestamp{
    position:absolute;
    top: 0;
    right:4px;
    justify-content: center;
    font-size:10px;
}